*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://w0.peakpx.com/wallpaper/32/446/HD-wallpaper-the-lion-king-2019.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 1200px;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding-left: 10px;
    box-shadow: 3px 0 0 #310015 ;
    position: fixed;
    top:0;
    left: 0;
    opacity: .5;
    overflow: hidden;
    transition: .5s;
    display: flex;
    align-items: center;

}
nav.menu-lateral:hover{
    opacity: .8;
    width: 250px;

}
.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
}
ul li.item-menu{
    transition: .2s;
    width: 100%;
}
ul li.item-menu:hover{
    background-color:#ff0070 ;
    width: 100%;
   
}
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i {
    font-size: 30px;
}
.btn{
    padding: 25px 60px;
    border: solid black;
    display: inline;
    background-color: tomato;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}
.btn:hover{
    background-color: rgb(235, 116, 95);
}
.janela-modal{
    
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;    
}
.janela-modal.abrir{
    display: flex;
    
}
.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff8e;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;

}
.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: 0;
    
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    
    

}



