*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-shadow: 10px 10px 10px brown;
    background-color: rgb(183, 187, 247);
}
section:nth-of-type(1){
    background-image: url('https://images7.alphacoders.com/460/460295.jpg');
    height: 600px;
    background-size: cover;
    
}
section:nth-of-type(3){
    background-image: url('https://i.pinimg.com/originals/17/cb/3e/17cb3e3f91ba26a2654db26bd5d4fa0f.jpg');
    height: 600px;
}
section:nth-of-type(5){
    background-image: url('https://img.wallpapic-br.com/i4452-843-827/medium/natureza-por-do-sol-nascer-nuvens-imagem-de-fundo.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
}
section:nth-of-type(7){
    background-image: url('https://c0.wallpaperflare.com/preview/974/188/7/brazil-goias-chapada-dos-veadeiros-lago.jpg');
    height: 600px;
}
@media screen and (max-width:400px) {
    .texto{        
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            text-shadow: 10px 10px 10px brown;
            background-color: rgb(183, 187, 247);
        
        
    }
}

